N8N/RAG_with_PDF_Doc_Sheet_using_LLAMA.json
{
  "name": "RAG with PDF-Doc-Sheet using LLAMA",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "36c2b4fa-66f7-4558-b9ea-fbeb9adbf1cd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -620,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "0oobo3r6kUxivLxA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "88e23bf7-2ae7-45bf-9ede-6929aab7164f",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "0oobo3r6kUxivLxA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Loop Over Items1').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "a2575016-1139-4fe5-9063-76a675126677",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        820,
        1120
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "c4c7d8bd-50f9-41e7-9eb1-a9d77767300d",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        580,
        1180
      ],
      "credentials": {
        "openAiApi": {
          "id": "0oobo3r6kUxivLxA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions."
      },
      "id": "9fb93c7e-8d9c-4520-90dc-7673665c2b8c",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        180,
        120
      ]
    },
    {
      "parameters": {
        "content": "## Agent Tools for RAG",
        "height": 528.85546469693,
        "width": 583.4552380860637,
        "color": 4
      },
      "id": "d860ce6d-5934-4350-8f15-658e2fd61b34",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 767,
        "width": 3173,
        "color": 5
      },
      "id": "62408e6d-78bd-4b2d-bc55-3fda22f67d35",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1820,
        580
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "8c90377d-c159-41cc-8f40-8e2d2dbcb417",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -60,
        1140
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "2936b4ae-c073-46c6-8f81-eb06ddc74f9b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        220,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "0oobo3r6kUxivLxA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9af2f12a-fbf5-43e2-964c-ed4a0145436d",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        -480,
        360
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "BgtQx7uwDRCf4gF2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.**{{ $json.id }}"
      },
      "id": "1f0cf5cb-8a87-4da3-b631-c80241f00f6d",
      "name": "Delete Old Doc Rows",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -840,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ILW58AjfxlMc8D2z",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 465,
        "width": 876
      },
      "id": "252f2ce4-5c83-44d1-99ba-c65ed2e99b9a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "54896a11-93c4-4762-ab10-934b743987b3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "720d95a3-8368-4579-83f6-3a30a0a6ec60",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -740,
        140
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "How can I assist you today?",
        "options": {}
      },
      "id": "5c98d74f-a6c6-4378-bfc1-18d1501ed72a",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1060,
        140
      ],
      "webhookId": "c59918bd-ee23-4e61-a1dd-86486bdad60f"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "3840316e-d0ef-4c0d-b61c-01c4b3a363f4",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        180,
        900
      ]
    },
    {
      "parameters": {},
      "id": "861f080e-d19e-44cb-82e6-cf0ebb6652a1",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1200,
        1220
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "3b592c4e-1b2e-4f63-abf2-cdefa0b3169e",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        340,
        900
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself.\n\nDon't use your knowledge, for each question first look at the dataset if you can't find any information about it, say I can't find related information in the dataset, then answer based on your knowledge.  "
        }
      },
      "id": "699e1960-ecf7-43c2-9413-45cbfc84fe2a",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -520,
        140
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Loop Over Items1').item.json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Loop Over Items1').item.json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Loop Over Items1').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "2cbae029-421c-413f-9437-b286bf6f2edf",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -380,
        800
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "60caf545-8a28-48d5-b0f2-9a521a6f9fd3",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        940,
        900
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ILW58AjfxlMc8D2z",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "94839456-d2dc-41fb-8276-876325460e9c",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        60,
        280
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ILW58AjfxlMc8D2z",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "0ab4a13b-1874-42ff-8174-e145cc956abc",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -60,
        900
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        200,
        680
      ],
      "id": "d40af861-8b37-48de-95f3-3daea074f027",
      "name": "Wait",
      "webhookId": "8976f247-4618-49c5-91e4-1aceae543ee1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        680
      ],
      "id": "c05e34d3-4b30-42a4-8574-4ba858a78c8c",
      "name": "Upload a file and start parsing",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9YMoBRPWIBx96iEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        680
      ],
      "id": "b3cf1f96-30ef-4c3b-bfea-09eaaa11223a",
      "name": "Check the status of the parsing job",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9YMoBRPWIBx96iEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70c029f5-eb0c-4158-94ee-d531e326ef60",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        680
      ],
      "id": "84b9d1b8-df21-4a16-af5c-7869cda4eecb",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        200,
        560
      ],
      "id": "eb5f1c71-708d-46e1-b22e-002704215e36",
      "name": "Wait1",
      "webhookId": "384d043b-ace7-49bc-a6bf-35ba39562ac0"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        660
      ],
      "id": "9f6c76ce-7ab2-4e01-b6b6-7bd1c0a3e5d9",
      "name": "Get the results in Markdown",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9YMoBRPWIBx96iEv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ $json.markdown }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        980,
        660
      ],
      "id": "46123b72-826f-4ab9-82b2-0ea811325958",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "## Get url least from google sheet and extract their text",
        "height": 520,
        "width": 2180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1400,
        1380
      ],
      "id": "cf8bff6e-ac6a-4174-b1ff-2d12b4528f60",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1V_y7CYJT7dnlMyEHIJw9b0hAUXzcanNOqu04AbqNcjI",
          "mode": "list",
          "cachedResultName": "url list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V_y7CYJT7dnlMyEHIJw9b0hAUXzcanNOqu04AbqNcjI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1V_y7CYJT7dnlMyEHIJw9b0hAUXzcanNOqu04AbqNcjI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1140,
        1540
      ],
      "id": "a1d0d60c-a2d0-4599-b844-520b4957aca6",
      "name": "Read URL from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K1Eu06RK1Sw9aTbG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d64f730-847d-4ba9-a5af-0115295df457",
              "name": "URL",
              "value": "={{ $json.URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        1540
      ],
      "id": "74af3a66-9b63-4a67-928e-6fefa4ae7c01",
      "name": "Select URL columns"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        1540
      ],
      "id": "4a9bacc8-31fc-4503-bcd3-502f19326a3b",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{$('Loop Over Items').item.json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        1580
      ],
      "id": "146a0e96-3750-45c2-8431-50dfb3a4308c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html =$input.first().json.data ; // Get raw HTML content\n\n// Remove script, style, and metadata content\nconst cleanedHtml = html\n    .replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, '')  // Remove <script> tags\n    .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, '')  // Remove <style> tags\n    .replace(/<noscript[\\s\\S]*?>[\\s\\S]*?<\\/noscript>/gi, '')  // Remove <noscript> tags\n    .replace(/<meta[\\s\\S]*?>/gi, '')  // Remove <meta> tags\n    .replace(/<link[\\s\\S]*?>/gi, '')  // Remove <link> tags\n    .replace(/<\\/?[^>]+(>|$)/g, ' ')  // Remove all other HTML tags\n    .replace(/\\s+/g, ' ')  // Normalize spaces\n    .trim();  // Trim whitespace\n\nreturn [{ url:$('Loop Over Items').first().json.URL ,clean_text: cleanedHtml }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1580
      ],
      "id": "2d55cb02-afb8-499a-92ff-00e12be36a90",
      "name": "Code"
    },
    {
      "parameters": {
        "folderId": "1-gwYhdNHZMKAZ9-I7xp4lqoWghaxxE9n",
        "title": "={{ $json.url }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        560,
        1580
      ],
      "id": "224bda31-c3db-4e01-88ee-aad70eabe3e0",
      "name": "Create Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ejJAKo3XK9bbHHZQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Code').item.json.clean_text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        1580
      ],
      "id": "b8d4a5fe-4a70-499e-b4cc-4a4715df1549",
      "name": "Write text in Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ejJAKo3XK9bbHHZQ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1540,
        1540
      ],
      "id": "47f22fc9-1d26-4953-864b-9e5fecc737ad",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6a2df38-48b7-4c3a-a5ce-94d5453d6511",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Loop Over Items').item.json.URL }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        1560
      ],
      "id": "7693eda5-9afc-4457-aba5-9090532de495",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -60,
        1460
      ],
      "id": "70fe42ed-dc8b-4937-b79d-bb9a5a759151",
      "name": "Delete old file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQJwrl4i6EfyBTmq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.URL }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        1560
      ],
      "id": "ef02ef14-4d5c-474b-a75c-26188a6cac50",
      "name": "Search for file",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQJwrl4i6EfyBTmq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "b6da8af0-5186-419d-9b54-cc3ffd9f6a50",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -620,
        800
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQJwrl4i6EfyBTmq",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1160,
        780
      ],
      "id": "8c3c8041-70f5-416a-addf-90347aee98c6",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1-gwYhdNHZMKAZ9-I7xp4lqoWghaxxE9n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1-gwYhdNHZMKAZ9-I7xp4lqoWghaxxE9n"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1500,
        780
      ],
      "id": "7a9d0056-c7df-42dc-9416-b22cf84af3f1",
      "name": "Search for all files in n8n folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQJwrl4i6EfyBTmq",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upload a file and start parsing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check the status of the parsing job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file and start parsing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the status of the parsing job": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get the results in Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Check the status of the parsing job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the results in Markdown": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read URL from sheet": {
      "main": [
        [
          {
            "node": "Select URL columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select URL columns": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Search for all files in n8n folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search for file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Docs": {
      "main": [
        [
          {
            "node": "Write text in Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write text in Doc": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read URL from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete old file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete old file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for file": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Delete Old Doc Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for all files in n8n folder": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7327f054-b333-439d-bcc2-3d9ef4c8c891",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "160938c7d67f88bdaefd04599699f2e5ea402c34fe60d0d6eddb088b1db8242b"
  },
  "id": "QQq8MZK3lq1uPOOl",
  "tags": []
}